@page "/Cocina"

@inject NavigationManager NavigationManager


<nav class="navbar navbar-gray">
    <a class="navbar-logo" href="#">
        <img class="h-10 w-10" src="/img/LunchSoft.png" />
    </a>

    <ul class="navbar-menu">
       

    </ul>
    <ul>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="~/img/LunchSoft2.png" />
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Reporte</a>
                <a class="dropdown-item" href="#">Cerrar sesión</a>
            </div>
        </li>
    </ul>

</nav>


@code{
    
}
<style>

    body{
        backgound-color: #f2f2f2;
    }
</style>