@page "/Cocina"

@inject NavigationManager NavigationManager


<nav class="navbar navbar-gray">
    <ul>
        <li class="nav-item dropdown">
            <a class="nav-link  " id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="h-8 w-8" src="/img/LunchSoft2.png" />
            </a>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" @onclick="Reporte">Reporte</a>
                <a class="dropdown-item" @onclick="Cerrar">Cerrar sesión</a>
            </div>
        </li>
    </ul>
    <ul class="navbar-menu">
       

    </ul>
    <ul>
        
    </ul>

</nav>

<div class="flex flex-row justify-center items-center w-full mt-5">
    <div class="flex flex-col items-center justify-center bg-gray-200 rounded-lg p-5 w-64">
        <strong>
            Agregar nuevo
        </strong>
        <div class="w-full mt-5">
            <label for="first_name" class="block text-sm font-medium text-gray-900">Descripcion</label>
            <input @bind="Descripcion" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  w-full" placeholder="Descripcion" required>
        </div>

        <div class="mt-2 w-full">
            <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900">Reserva</label>
            <input @bind="ReservaFk" type="number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 w-full" placeholder="Reserva" required>
        </div>
        <h6>@Result</h6>

        <button @onclick="Agregar" type="button" class="mt-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none  w-full self-center">Agregar</button>


    </div>
</div>


<div class="Muestra border border-primary shadow-lg p-3 mb-2 bg-body-tertiary rounded mt-5">
    <div class="menu-list-container">
        @if (Pedidos != null && Pedidos.Any())
        {
            @foreach (var Pedido in Pedidos)
            {
                <div class="menu-item">
                    <div class="menu-item-nombre">@Pedido.Descripcion</div>
                    <div class="menu-item-nombre">@Pedido.ReservaFk</div>
                    <div class="menu-item-buttons">
                    </div>
                </div>
            }
            @if (!string.IsNullOrEmpty(muestra))
            {
                <div class="muestra-div">
                    <h5>@muestra</h5>
                </div>
            }
        }
        else
        {
            <div>No se han encontrado pedidos.</div>
        }
    </div>
</div>


@code{
    void Reporte()
    {

    }
    void Cerrar()
    {

    }

    string Descripcion = "";
    string ReservaFk = "";
    string Result = "";
    string muestra = "";

    async Task Agregar()
    {
        try
        {
            if(Descripcion == "" || ReservaFk == "")
            {
                Result = "Completa todos los campos";
                StateHasChanged();
            }
            else
            {
                var nuevoPedido = new Lunchsoft.Shared.Models.Pedido
                    {
                        Descripcion = Descripcion,
                        ReservaFk = int.Parse(ReservaFk)
                    };

                var resul = await Lunchsoft.Shared.Acceso.Pedidos.CrearPedido(nuevoPedido);

                if (resul)
                {
                    Result = "Creado con exito.";
                }
                else
                {
                    Result = "No se pudo crear la factura.";
                }
                StateHasChanged();
            }
        }
        catch
        {
            Result = "Error al crear el pedido";
        }
    }


    public List<Shared.Models.Pedido> Pedidos;

    protected override async Task OnInitializedAsync()
    {
        Pedidos = await Shared.Acceso.Pedidos.Obtener();
    }
}
<style>

    

    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: white;
        z-index: 9999;
    }

    .navbar-logo {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        text-decoration: none;
    }

    .navbar-menu {
        display: flex;
        align-items: center;
    }

        .navbar-menu li {
            list-style: none;
            margin-right: 20px;
        }

            .navbar-menu li a {
                font-size: 14px;
                color: #666;
                text-decoration: none;
            }

                .navbar-menu li a:hover {
                    color: #333;
                }

    .btn-register {
        margin-right: 10px;
        padding: 10px 20px;
        background-color: #eee;
        color: #333;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

        .btn-register:hover {
            background-color: #ccc;
        }

    .btn-login {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

        .btn-login:hover {
            background-color: #0056b3;
        }

    .Muestra {
        block-size: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 100px;
        margin-left: 100px;
    }
    .content {
        padding-top: 80px;
    }

    .menu-list-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px;
    }

    .menu-item {
        width: 300px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .menu-item-nombre {
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0;
    }

    .menu-item-precio {
        font-size: 18px;
        color: #007bff;
    }

    .menu-item-descripcion {
        font-size: 14px;
    }

    .menu-item-buttons {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .menu-item-icon {
        width: 45px;
        height: 45px;
    }
</style>