
<Bar Breakpoint="Breakpoint.Desktop"
     Background="Background.Light"
     ThemeContrast="ThemeContrast.Light">
    <BarBrand>
        LunchSoft
    </BarBrand>
    <BarToggler />
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle>Perfil De Usuario</BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem To="/login">Cerrar Session</BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
        </BarStart>
    </BarMenu>
</Bar>

<div class="container">
    <center>
<Tabs SelectedTab="@selectedTab" SelectedTabChanged="@OnSelectedTabChanged">
    <Items>
        <Tab Name="Pendientes">Pendientes</Tab>
        <Tab Name="Procesados">Procesados</Tab>
        <Tab Name="Finalizados">Finalizados</Tab>
        <Tab Name="Pagados">Pagados</Tab>
    </Items>
    <Content>
        <TabPanel Name="Pendientes">
            Contenido de pedidos pendientes.
        </TabPanel>
        <TabPanel Name="Procesados">
            Contenido de pedidos procesados.
        </TabPanel>
        <TabPanel Name="Finalizados">
            Contenido de pedidos finalizados.
        </TabPanel>
        <TabPanel Name="Pagados">
            Contenido de pedidos pagados.
        </TabPanel>
    </Content>
</Tabs>
    </center>
</div>


@code {
    string selectedTab = "Pendientes";

    private Task OnSelectedTabChanged(string name)
    {
        selectedTab = name;

        return Task.CompletedTask;
    }
}

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vh;
    }

</style>