@page "/hola"

@code {


    public List<Lunchsoft.Shared.Models.Menus> ExampleDB = new()
    {

        new()
        {
            Id = 1,
            Nombre = "Tacos",
            Descripcion = "Taco de frijoles con chicharron",
            Imagen = "https://tipsparatuviaje.com/wp-content/uploads/2018/09/tacos-comida-mexicana.jpg",
            Precio = 1233
        },

        new()
        {
            Id = 2,
            Nombre = "Hamburguesa",
            Descripcion = "Hamburguesa de queso",
            Imagen = "https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/NCI_Visuals_Food_Hamburger.jpg/640px-NCI_Visuals_Food_Hamburger.jpg",
            Precio = 1000
        },

        new()
        {
            Id = 3,
            Nombre = "Perro caliente",
            Descripcion = "Mucho queso",
            Imagen = "https://images-gmi-pmc.edge-generalmills.com/f5a517df-12c8-4d55-aa70-c882d99122e0.jpg",
            Precio = 128
        },

        new()
        {
            Id = 4,
            Nombre = "Sopa",
            Descripcion = "Sopa muy buena",
            Imagen = "https://www.recetasjudias.com/wp-content/uploads/2014/12/Sopa-de-Pollo-1.jpg",
            Precio = 12221
        },

        new()
        {
            Id = 5,
            Nombre = "Malteada",
            Descripcion = "Malteada de fresa",
            Imagen = "https://www.recetasnestle.com.co/sites/default/files/srh_recipes/23829ccf3c8af248298c5f91d95aa3ba.jpg",
            Precio = 999
        },


    };

}


<Navbar />


<div class="p-5">



    <div class="flex items-center justify-center py-4 md:py-8 flex-wrap">
        <button type="button" class="text-blue-700 hover:text-white border border-blue-600 bg-white hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:bg-gray-900 dark:focus:ring-blue-800">Todo</button>
        <button type="button" class="text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-gray-800">Principales</button>
        <button type="button" class="text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-gray-800">Aperitivos</button>
        <button type="button" class="text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-gray-800">Postres</button>
        <button type="button" class="text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-gray-800">Bebidas</button>
    </div>

    <div class="grid grid-cols-2 md:grid-cols-3 gap-4">


        @foreach (var model in ExampleDB)
        {
            <Product Model="model" />
        }


    </div>

</div>