@page "/Bebida"

@inject NavigationManager NavigationManager

<Lunchsoft.Client.Compartido.Navbar></Lunchsoft.Client.Compartido.Navbar>

<div class="Titulo">
    <h3 class="nombre2 text-center fs-5 shadow-lg p-3 mb-5 bg-body-tertiary rounded">Bebidas o postres</h3>
    <h3 class="nombre text-center shadow-lg p-3 mb-5 bg-body-tertiary rounded">Aqui puedes ver y elegir las bebidas</h3>
</div>
<!--Obtener-->
<div class="p-3 bg-gray-10 rounded mx-60 border border-primary shadow-lg p-1 mb-2  rounded mt-5">
    <div class="menu-list-container">
        @if (bebidas != null && bebidas.Any())
        {
            @foreach (var bebida in bebidas)
            {
                <div class="menu-item">
                    <img class="menu-item-img" src="@bebida.Imagen" alt="@bebida.Nombre">
                    <div class="menu-item-nombre">@bebida.Nombre</div>
                    <div class="menu-item-precio">$@bebida.Precio</div>
                    <div class="menu-item-descripcion">@bebida.Descripcion</div>
                    <div class="menu-item-buttons flex justify-center items-center space-x-2">
                    </div>
                </div>
            }
        }
        else
        {
            <div>No se encontraron Bebidas o postres .</div>
        }
    </div>
</div>

@code {
    public List<Shared.Models.Bebida>? bebidas;

    protected override async Task OnInitializedAsync()
    {
        bebidas = await Shared.Acceso.Bebida.Obtener();
    }
    
}

<style>
    .Muestra.smaller {
        font-size: 10px;
        padding: 0.5rem;
    }

    .producto {
        display: inline-block;
        width: 200px;
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        text-align: center;
    }

        .producto img {
            max-width: 100%;
            height: auto;
        }

        .producto h3 {
            margin: 5px 0;
        }

        .producto p {
            font-size: 14px;
            margin: 5px 0;
        }

    body {
        background-color: #f2f2f2;
    }

    .Mover {
        margin-left: 755px;
        margin-right: 100px;
    }

    .Centro {
        margin-top: 5px;
    }

    .nombrenav {
        color: #032C1F;
    }

    .Posicion {
        block-size: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 683px;
    }

    .Titulo {
        block-size: 250px;
        margin-top: 100px;
        margin-right: 300px;
        margin-left: 300px;
    }

    .Muestra {
        block-size: auto;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 70px;
        margin-left: 70px;
    }

    .nombre {
        color: rgb(0, 0, 128);
        margin-left: 100px;
        margin-right: 100px;
        font-style: italic;
    }

    .nombre2 {
        color: rgb(0, 0, 199);
        margin-top: 50px;
        margin-left: 100px;
        margin-right: 100px;
        font-weight: bold;
    }

    .boton {
        margin-top: 50px;
    }

    .block {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }

        .block.selected {
            background-color: #7FC0AC;
        }

    .menu-list-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px;
    }

    .menu-item {
        width: 300px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .menu-item-img {
        width: 100%;
        max-height: 170px;
        object-fit: cover;
        border-radius: 5px;
    }

    .menu-item-nombre {
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0;
    }

    .menu-item-precio {
        font-size: 18px;
        color: #007bff;
    }

    .menu-item-descripcion {
        font-size: 14px;
    }

    .menu-item-buttons {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .menu-item-icon {
        width: 45px;
        height: 45px;
    }
</style>