@page "/Bienvenido"

@inject NavigationManager NavigationManager

<div class="container">
    <h2 class="titulo">¡Bienvenido!</h2>
    <h3 class="subtitulo">¿Quieres entrar?</h3>
    <button type="button" class="boton" @onclick="Comida">Entrar</button>
</div>


@code {
    void Comida()
    {
        NavigationManager.NavigateTo("/Comida");
    }
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
    }

    .container {
        max-width: 0 auto;
        margin: 0 auto;
        padding: 40px;
        text-align: center;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .titulo {
        font-size: 210px;
        font-style: italic;
        margin-bottom: 20px;
    }

    .subtitulo {
        font-size: 100px;
        font-style: italic;
        margin-bottom: 40px;
    }

    .boton {
        display: inline-block;
        padding: 12px 24px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
        cursor: pointer;
    }

        .boton:hover {
            background-color: #0056b3;
        }
</style>