@page "/Reserva"

@inject NavigationManager NavigationManager


<Lunchsoft.Client.Compartido.Navbar></Lunchsoft.Client.Compartido.Navbar>

<!--Titulo-->

<div class="Titulo">

    <h3 class="nombre text-center shadow-lg p-3 mb-5 bg-body-tertiary rounded">Informacion</h3>
    <h3 class="nombre2 text-center fs-5 shadow-lg p-3 mb-5 bg-body-tertiary rounded">Aqui puedes very añadir una reserva</h3>
</div>



<button data-modal-target="defaultModal" data-modal-toggle="defaultModal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 flex justify-center" type="button">
    Ingresa un platillo
</button>
<!--Modal de comida y bebida-->
<div id="defaultModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Ingresa la informacion para el platillo
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="defaultModal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">

                <div class="flex items-center justify-center w-full">
                    <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                        <div class="flex flex-col items-center justify-center pt-5 pb-6">
                            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                            </svg>
                            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Selecciona la imagen</span> o arrastrala</p>
                            <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                        </div>
                        <input id="dropzone-file" type="file" class="hidden" @bind="Imagen" />
                    </label>
                </div>
                <label>Nombre del platillo</label>
                <input type="text" @bind="Numero" />
                <label>Precio</label>
                <input type="number" @bind="Hora" />
                <label>Descripción</label>
                <input type="text" @bind="EmpleadoFk" />
                <h5>@Result</h5>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button data-modal-hide="defaultModal" @onclick="Crear" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Crear Reserva</button>
                <button data-modal-hide="defaultModal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--Mostrar Informacion-->

<div class="Muestra border border-primary shadow-lg p-3 mb-5 bg-body-tertiary rounded">
</div>

@code {
    string Imagen = "";
    string Numero = "";
    string Hora = "";
    string EmpleadoFk = "";
    string Result = "";
    async Task Crear()
    {
        try
        {
            if (Imagen == "" || Numero == "" || Hora == "" || EmpleadoFk == "")
            {
                Result = "Complete todos los campos";
            }
            else
            {
                var nuevaReserva = new Lunchsoft.Shared.Models.Reserva
                    {
                        Imagen = Imagen,
                        Numero = int.Parse(Numero),
                        Hora = DateTime.Parse(Hora),
                        EmpleadoFk = int.Parse(EmpleadoFk)
                    };

                var resul = await Lunchsoft.Shared.Acceso.Reserva.CrearReserva(nuevaReserva);

                if (!resul)
                {
                    Result = "No se pudo crear la reserva.";
                    StateHasChanged();
                    return;
                }
            }
        }
        catch
        {
            Result = "Error al crea la reserva";
        }
    }

}

<style>
    body {
        background-color: #f2f2f2;
    }

    .Mover {
        margin-left: 755px;
        margin-right: 100px;
    }

    .Centro {
        margin-top: 5px;
    }

    .mesa {
        background-color: #A4C7BC;
        margin-bottom: 50px;
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 100px;
        display: inline-block;
        text-align: center;
        margin: 20px;
    }

        .mesa img {
            width: 250px;
            height: 250px;
        }

    .nombrenav {
        color: #032C1F;
    }

    .Posicion {
        block-size: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 683px;
    }

    .Titulo {
        block-size: 250px;
        margin-top: 100px;
        margin-right: 300px;
        margin-left: 300px;
    }

    .Muestra {
        block-size: 700px;
        margin-top: 50px;
        margin-bottom: 100px;
        margin-right: 100px;
        margin-left: 100px;
    }

    .nombre {
        color: #0096F1;
        margin-left: 100px;
        margin-right: 100px;
        font-style: italic;
    }

    .nombre2 {
        color: #0096F1;
        margin-top: 50px;
        margin-left: 100px;
        margin-right: 100px;
        font-style: italic;
    }

    .boton {
        margin-top: 50px;
    }

    .block {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }

        .block.selected {
            background-color: #7FC0AC;
        }

</style>