@inject NavigationManager NavigationManager

<nav class="navbar navbar-gray">
    <ul>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="h-8 w-8" src="/img/LunchSoft2.png" />
            </a>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Reporte</a>
                <a class="dropdown-item" href="#">Cerrar sesión</a>
            </div>
        </li>

    </ul>

    <ul class="navbar-menu">
        <li><a @onclick="Bienvenido">Bienvenido</a></li>
        <li class="text-gray-300">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
            </svg>
        </li>
        <li><a @onclick="Reserva">Reserva</a></li>
        <li class="text-gray-300">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
            </svg>
        </li>
        <li><a class="text-blue-600 font-bold"  @onclick="Comida">Comida</a></li>
        <li class="text-gray-300">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
            </svg>
        </li>
        <li><a @onclick="Bebida">Bebida</a></li>
        
    </ul>
    <ul>
        
    </ul>

</nav>

@code{


	void Bienvenido()
	{
		NavigationManager.NavigateTo("/Bienvenido");
	}
	void Comida()
	{
		NavigationManager.NavigateTo("/Comida");
	}
	void Bebida()
	{
		NavigationManager.NavigateTo("/Bebida");
	}
	void Reserva()
	{
		NavigationManager.NavigateTo("/Reserva");
	}
	void Cerrar()
	{
		NavigationManager.NavigateTo("/login");
	}
	void Agregar()
	{
		NavigationManager.NavigateTo("/Comidas");
	}
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f1f1f1;
        margin: 0;
        padding: 0;
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: white;
        z-index: 9999;
    }
    
    .navbar-logo {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        text-decoration: none;
    }

    .navbar-menu {
        display: flex;
        align-items: center;
    }

        .navbar-menu li {
            list-style: none;
            margin-right: 20px;
        }

            .navbar-menu li a {
                font-size: 14px;
                color: #666;
                text-decoration: none;
            }

                .navbar-menu li a:hover {
                    color: #333;
                }

    .btn-register {
        margin-right: 10px;
        padding: 10px 20px;
        background-color: #eee;
        color: #333;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

        .btn-register:hover {
            background-color: #ccc;
        }

    .btn-login {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

        .btn-login:hover {
            background-color: #0056b3;
        }

    .content {
        padding-top: 80px; 
    }
</style>