@inject IJSRuntime JS

@code{

    [Parameter]
   public Lunchsoft.Shared.Models.Menus Model { get; set; }

}




<div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <img class="p-3 rounded-lg" src="@Model.Imagen" alt="product image" />
    </a>
    <div class="px-5 pb-5">
        <a>
            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">@Model.Nombre</h5>
        </a>
        <div class="flex items-center mt-2.5 mb-5">
            <label class="text-sm text-gray-800">@Model.Descripcion</label>
             </div>
        <div class="flex items-center justify-between">
            <span class="text-3xl font-bold text-gray-900 dark:text-white">$@Model.Precio</span>
            <button @onclick="OnButtonClick"  class="text-white bg-sky-600 hover:bg-sky-800 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Solicitar</button>
        </div>
    </div>
</div>

            @code{

    void OnButtonClick(){
        JS.InvokeVoidAsync("alert", $"Click en el producto ID#{Model.Id}");
    }

            }